*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #f0f5f9;
    --clr-dark: #303030;
    --clr-accent: #3bb4c1;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}
img {
  display: block;
  max-width: 100%;
}

/* Typography */
h1, h2, h3 {
  line-height: 1.1;
  margin: 0;
}
 h1 {
   font-size: var(--fs-h1);
 }
 h2 {
   font-size: var(--fs-h2);
 }
 h2 {
   font-size: var(--fs-h2);
 }

.section_title {
  margin-bottom: .25em;
}

.section_title_intro {
  font-weight: var(--fw-reg);
}

.section_title_intro strong {
  display: block;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle_about, .section_subtitle_intro {
  font-family: var(--ff-secondary);
  background: var(--clr-accent);
  margin-bottom: 1em;
  padding: 0.25em 1em;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
  font-size: 50px;
  color: var(--clr-dark);
}

.nav {
  position: fixed;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav_link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}
.hamburger, .hamburger::before, .hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Intro section */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section_subtitle_intro {
      align-self: start;
      grid-column: -1/1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -2em;
      width: calc(100% + 2em);
    }
}

/* My services section */
.my_services {
  background-color: var(--clr-dark);
  background-image: url(img/desk2.jpg);
  background-size: cover;
  background-blend-mode:  multiply;
  color: var(--clr-light);
  text-align: center;
}

.section_title_services {
  color: var(--clr-accent);
  position: relative;
}

.section_title_services::after {
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.services {
  margin-bottom: 4em;
}

.service {
  line-height: 2;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 4em;
  }
}

.about_me {
  max-width: 1000px;
  margin: 0 auto;
}

.about_me_img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about_me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
  }

  .section-title-about {
    grid-area: title;
  }

  .section_subtitle_about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 4em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about_me_img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My work section */
.my_work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section_subtitle_work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item {
  overflow: hidden;
  background-color: var(--clr-accent);
}
.portfolio_img {
  transition:
    transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;
}

.portfolio_img:hover {
  transform: scale(1.2);
  opacity: 0.75;
}

/*Footer Section */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer_link {
  font-weight: var(--fw-bold);
}

.footer a {
  color: inherit;
  text-decoration: none;
}
.social_list_link:hover{
  opacity: 0.7;
  color: var(--clr-light);
}

.social_list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social_list_item {
  margin: 0 0.5em;
}

/* Individual portfolio items */
.portfolio-item-indv {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.portfolio-item-indv p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.portfolio-item-indv img {
  max-width: 300px;
  margin-top: 20px;
}

.portfolio-item-indv .align-right {
  text-align: left;
  margin-left: 65px;
  margin-top: 10px;
}

.float-left {
  float: left;
  margin-right: 50px;
}

.float-right {
  float: right;
  margin-left: 50px;
}
.hire {
  margin-bottom: 1em;
}
